<ion-header>
  <ion-toolbar color="seu-lider" text-center>
    <strong>Conta</strong>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" novalidate autocomplete="off">
    <ion-list>
      <ion-item text-center>
        <img src="assets/imgs/logo.png"/>
      </ion-item>

      <ion-item *ngIf="etapa == 'loginEmail'">
        <ion-label stacked> <ion-icon name="ios-mail-open-outline"></ion-icon> Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item *ngIf="etapa == 'loginEmail'">
        <ion-label stacked> <ion-icon name="ios-lock-outline"></ion-icon> Senha</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-row *ngIf="etapa == 'tipoLogin'">
      <ion-col center text-center>
        <button type="submit" (click)="etapa = 'loginEmail'" ion-button color="utilizando" round>
          <strong>Cadastrar</strong>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="etapa == 'loginEmail'">
      <ion-col center text-center>
        <button type="submit" (click)="createEmail()" ion-button color="utilizando" round>
          <strong>Entrar</strong>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="etapa == 'loginEmail'">
      <ion-col center text-center>
        <button (click)="etapa = 'tipoLogin'" ion-button color="seu-lider" round>
          <strong>Voltar</strong>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="etapa == 'tipoLogin'">
      <ion-col center text-center>
        <button ion-button (click)="createFacebook()" color="facebook" round icon-start>
          <ion-icon name='logo-facebook' is-active="false"></ion-icon>
          <strong>Facebook</strong>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="etapa == 'tipoLogin'">
      <ion-col center text-center>
        <button (click)="continue()" ion-button color="seu-lider" round>
          <strong>Continue sem cadastrar</strong>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

