<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Saiba qual o seu atual perfil de líder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding-bottom padding-top></div>
  <ion-list padding-top radio-group *ngIf="etapa == 1" (ionChange)="changeList($event)" class="transparente">
    <h4>1 – Você tem referências para atingir seus objetivos?</h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 2" (ionChange)="changeList($event)">
    <h4>
      2- Você se compara (comportamento comparativo) com outras pessoas para saber se é melhor ou pior?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 3" (ionChange)="changeList($event)">
    <h4>
      3- Você estabelece metas coerentes para atingir seus objetivos?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 4" (ionChange)="changeList($event)">
    <h4>
      4- Você enfatiza a assertividade primeiro quando deseja alcançar algo?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 5" (ionChange)="changeList($event)">
    <h4>
      5- Quando uma expectativa é frustrada você responsabiliza...
    </h4>

    <ion-item>
      <ion-label>a) Fatores externos</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes a mim, às vezes fatores externos</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre a mim ou a mim e fatores externos</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 6" (ionChange)="changeList($event)">
    <h4>
      6- Em uma situação ao se deparar com dificuldades você...
    </h4>

    <ion-item>
      <ion-label>a) Sempre desisto</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes continuo, às vezes desisto</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre pondero e se necessário persisto ou desisto</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 7" (ionChange)="changeList($event)">
    <h4>
      7- Em situações rotineiras você habitualmente é...
    </h4>

    <ion-item>
      <ion-label>a) Negativo, pessimista</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Indiferente, normal</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Positivo, otimista</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 8" (ionChange)="changeList($event)">
    <h4>
      8- Diante de um problema...
    </h4>

    <ion-item>
      <ion-label>a) Eu me desanimo</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Eu fico indiferente</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Eu me motivo</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 9" (ionChange)="changeList($event)">
    <h4>
      9- Alguém importante para você está passando por um problema. Sem que a pessoa peça você se empenha ajudá-la?
    </h4>

    <ion-item>
      <ion-label>a) Sempre</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Raramente</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 10" (ionChange)="changeList($event)">
    <h4>
      10- Você acredita que em qualquer situação, por mais difícil que seja, pode sempre fazer alguma coisa para melhorar?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 11" (ionChange)="changeList($event)">
    <h4>
      11- Você cumpre os compromissos que faz consigo mesmo?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 12" (ionChange)="changeList($event)">
    <h4>
      12- Você comemora/desfruta quando conquista algo importante?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 13" (ionChange)="getResult($event)">
    <h4>
      13- Você é bom com você como é com os outros?
    </h4>

    <ion-item>
      <ion-label>a) Raramente</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>b) Às vezes</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>c) Sempre</ion-label>
      <ion-radio value="c"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
