page-home {
  .scroll-content {
    background: url("../../assets/imgs/back-menu.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
