<!--
  Generated template for the ImportantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="importante">
    <ion-title>Você é muito importante</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding-bottom padding-top></div>
  <ion-list padding-top radio-group *ngIf="etapa == 1" (ionChange)="changeList($event)">
    <h4>1 – Este App está sendo útil para você?</h4>

    <ion-item class="transparente">
      <ion-label>Sim</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Não</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label stacked>Por quê?</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list padding-top radio-group *ngIf="etapa == 1" (ionChange)="changeList($event)">
    <h4>2 – Enumere de 1 a 7 o que você MAIS gostou e o que você MENOS gostou no App, sendo 7 para o que MAIS gostou e 1
      para o que MENOS gostou.</h4>

    <ion-item class="transparente">
      <ion-label>Utilizando o aplicativo</ion-label>
      <ion-radio value="a"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Saiba seu Perfil de líder</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Atualizar Crenças</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Seja seu líder já</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Pratique sua Autoliderança emocional</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Vídeos pró ativos</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>

    <ion-item class="transparente">
      <ion-label>Recursos pró ativos</ion-label>
      <ion-radio value="b"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label stacked>3 – O que você gostaria que fosse incluído neste aplicativo?</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>4 – Críticas e Sugestões.</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-content>
